* {
  font-family: Roboto-Regular, sans-serif;
  text-align: center;
}

h1 {
  font-size: 14px;
  color: rgba(255,255,255,1);
}

h2 {
  font-size: 12px;
  color: rgba(0,0,0,1);
}

h3 {
  font-size: 10px;
  color: rgba(0,175,194,1);
}

a {
  color:rgba(0,175,194,1);
}

html {
  position: relative;
  height: auto;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left:0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(238,238,238,1);
  margin-right: 0em;
  margin-left: 0em;
}

.source {
    min-height: 200px;
    width:600px;
    padding: 0px 0px;
}

.results {
    height: auto;
    max-height: 600px;
    width:600px;
    padding: 0px 0px;
    overflow-y: scroll;
}

.result-text {
  height: auto;
  word-wrap: break-word;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  top: 0px;
  right: 0px;
  height: 4em;
  padding-left: 2.5em;
  background-color: #00BBD3;
  font-size: 14px;
  color: rgba(255,255,255,1);
  box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
}

#optionSelectionMenu {
  position: relative;
  display: flex;
  float: left;
  width: 100%;
  margin: 0em 0em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#languageSelectionMenu {
  display: flex;
  min-height: 100%;
  min-width: 100%;
}

/*.footer {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0px;
  right: 0px;
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: rgba(238,238,238,1);
  padding: 0px 0px;
}*/

.fa-undo {
  color: rgba(255, 255, 255, 1);
}

.footer p {
  width: 100%;
  font-size: 10px;
  color: rgba(99,99,99,1);
  text-align: center;
  margin-top: 0em;
  margin-bottom: 0em;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
}

.text-blue {
    color: rgba(238,238,238,1);
}

.text-gray {
    color: #616161;
}

.btn.s-button {
  /*width: 100%;*/
    margin-top: 2px;
    background-color: #ffffff;
}

.btn:hover {
    background: #FAFAFA;
    color:#000000;
}

.btn.page-button:hover .btn.s-button:hover {
    color:#333;
}

p {
  width: 100%;
  font-size: 1.25em;
  word-wrap: break-word;
  text-align: justify;
}

textarea {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    resize: none;
    required: true;
    text-align: left;
}

#submitBtn {
  width: auto;
  margin-right: auto;
  background: #00BBD3;
  box-shadow: 0px 2px 4px 0px rgba(186,186,186,0.50);
  border-radius: 1px;
  border-color: #00BBD3;
  color: white;
}

.nopadding-left {
   padding-left: 0 !important;
}

.container {
  margin-left: 0em;
  margin-right: 0em;
}

.text-container {
  height: auto;
  padding: 1.5em 1.5em 1.5em 1.5em;
  width: inherit;
  display:block;
  vertical-align: middle;
}

.label-container {
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  white-space: nowrap;
  font-size: .75em;
}

.col-xs-5 {
  height: 100%;
  width:100%inherit;
  padding-left: 0px;
  padding-right: 0px;
}

.col-xs-5 p {
  line-height: 100%;
}

.col-xs-3 {
    width:auto;
    padding-right:5px;
    padding-left: 5px;
}

.col-xs-2 {
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  min-height: 30px;
}

.col-xs-2 p{
  margin: 0px 0px;
  width: 100%;
  text-align: center;
}

.btn-group {
  min-width: 90%;
  /* menu bar bg: */
  background: #EEEEEE;
  /*box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.12), inset 0px 1px 0px 0px rgba(0,0,0,0.12);*/
  margin-left: .5em;
  margin-right: .5em;
}

.btn-group button {
  min-width: 100%;
}

.dropdown-menu {
  min-width: 100%;
  background: #FAFAFA;
}

.btn {
    border: 1px solid #a8a8a8;
    background: #EEEEEE;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.12);
}

.rcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
